<% unless current_user == user %>
  <% if current_user.following?(user) %>
    <%= form_with(model: current_user.relationships.find_by(follow_id: user.id), method: :delete) do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
      <%= f.submit 'Unfollow', class: 'btn btn-danger w-100' %>
    <% end %>
  <% else %>
    <%= form_with(model: current_user.relationships.build) do |f| %>
      <%= hidden_field_tag :follow_id, user.id %>
      <%= f.submit 'Follow', class: 'btn btn-primary w-100' %>
    <% end %>
  <% end %>
<% else %>
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="button" onclick="location.href='/'">リンク一覧を編集する</button>
  </div>
<% end %>